<%- include("../../partials/head") %>

<body>
    <%- include("../../partials/navbar") %>

    <div class="container my-4">
        <div class="card m-4">
            <div class="card-header">
                <h1 class="display-4"><%= article.title %></h1>
                
                <div class="description">
                    <%- article.description %>
                </div>

                <hr>

                <p>Categoria: <%= article.category.title %></p>
                <p>Data de Públicação: <%= article.createdAt %></p>
            </div>
            <div class="card-body">
                <div class="content">
                    <%- article.content %>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include("../../partials/scripts") %>